<div class="container">

	<div class="login-box">

		<div class="login-box-logo">
			<img height="30%" width="30%" src="img/mayassar.png">
		</div>

 
			<div class="login-oauth text-center">
				<a class="btn btn-google" href="login/google" target="_self" ng-if="googleAuthEnabled">
					Login with Paytm
				</a>
				<a class="btn btn-github" href="login/github" target="_self" ng-if="githubAuthEnabled">
					<i class="fa fa-github"></i>
					with Github
				</a>
			</div>
		</div>

		<div class="row" style="margin-top: 40px">
			<div class="text-center"> To gain access, send an email to 
                                <a href="mailto:mayassar.issues@paytm.com">
                                        mayassar.issues@paytm.com
                                </a>
                        </div>
			<div class="text-center">
				<a href="https://paytm.onelogin.com/password/forgot_password">
					Forgot your password?
				</a>
			</div>
		</div>

		<div class="row" style="margin-top: 50px">
			<div class="version-footer text-center small">
		     	Credits : <a href="mailto:naved.alam@paytm.com">Naved Alam</a>, <a href="mailto:vardan.gupta@paytm.com">Vardan Gupta</a>, <a href="mailto:shubham.srivastava@paytm.com">Shubham Srivastava</a>, <a href="mailto:sunil@paytm.com"> Sunil Kumar </a>
			</div>
		</div>

	</div>


